h5 {
    margin-block-start: 0;
    color: "red";
    margin-block-end: 0.3em;
}

h2 {
    margin-block-end:0;
}

h3 {
    margin-block-start: 0.3em;
    margin-block-end: 1%;
}

body
{
    background-color: #07294D;
}

#bulletLine {
    display: flex;
}

#bulletMain {
    margin : 5px
}

#bulletDetail{
    margin: 1.5% 5%;
}

#watermark{
    opacity: 15%;
    margin: 2.5% 0px;
}

#expText{
    text-align:left;
}

#expSect{
    position: relative;
    margin-top: 2%;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: inset 0px 0px 10px #07294D;
    width: 80%;
    margin: 2% 10%;
    display:block;
    text-align:center;
}

#expSect #expText{
    position: absolute;
    padding: 0px 10%;
    z-index: 999;
    top: 0%;
}